body{
   font-size: 34px;
   font-family: "Mona sans", "Helevitica neue", Helvetica, Arial, sans-serif;
   padding-left: 90px;
   padding-right: 90px;
}

#navbar{
    display: flex;
    flex-direction: row;
    gap: 150px;
    
}



#nav{
   padding-top: 9px;
    display:flex;
    gap:10px;
    padding-bottom: 10px;
}
#nav-details{
    padding-top: 40px;
     display:flex;
     gap:80px;
 }
.nav-image{
    padding-top: 25px;;
   width:65px;
   height:65px;
}

#subscriptions{
display: flex;
gap: 20px;
font-size: large;
}

#skillheropage{
    display:flex;
    gap: 100px;
}
.text-color{
    color: crimson;
}
.font-color{
    color: midnightblue;
}

#hero-image{
    border-radius: 50px;
    background-color: aliceblue;  
    max-height: 200px ;
    padding-bottom: 20px;
}

#hero-img{
 padding-left: 300px;
  height: 450px;
  width: 450px;

}

.login-button{
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 30px;
    height: 40px;
    width:80px;
}

.signup-button{
    border-radius: 30px; 
    border-color: crimson;
    border-style: solid;
    background-color: white;
    color: crimson;
    height: 40px;
    width:80px;
}

.hero-button{
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 30px;
    height: 45px;
    width:110px;
    margin-left: -70px;
    box-shadow: inset;

}

#input{
    height: 40px;
    width:250px;
    border-radius: 30px; 
}

#footer{
    display: flex;
    gap:180px;
    height: 80px;
    width: 50px;
    

}

@media  (min-width: 375px) and (max-width: 435px){
 
    body{ 
        font-size: large;
    }

#navbar{
    flex-direction: column;
    gap: 5px;
    
}
#nav{
    gap: 3px;
    flex-direction: column;
}
#nav-details{
    gap: 3px;
    flex-direction: column;
}
#skillheropage{
    gap:0;
    display: block;
}
#hero-image{
    flex-wrap: wrap;
    display: block;
    margin-left: -350px;
    
}
#hero-img{
    padding-top: 40px;
    height: 250px;
    width: 250px;
}
.hero-button{
    margin-left: 0px;
}
#footer{
    display: block;
    padding-top: 70px;
}

}

@media  (min-width: 360px) and (max-width: 374px){
    body{ 
        font-size: large;
    }

#navbar{
    flex-direction: column;
    gap: 5px;
}
#nav{
    gap: 3px;
    flex-direction: column;
}
#nav-details{
    gap: 3px;
   flex-direction: column;
}
#skillheropage{
    gap:0;
    display: block;
}
#hero-image{
    flex-wrap: wrap;
    display: block;
    margin-left: -350px;
    
}
#hero-img{
    padding-top: 40px;
    height: 250px;
    width: 250px;
}
.hero-button{
    margin-left: 0px;
}
#footer{
    padding-top: 70px;
    display: block;
}

}
@media  (min-width: 280px) and (max-width: 359px){
    body{ 
        font-size: large;
    }


#navbar {
    flex-direction: column;
    gap: 5px;
}
#nav{
    gap: 3px;
    flex-direction: column;
}
#nav-details {
    gap: 3px;
    flex-direction: column;
}
#skillheropage{
    gap:0;
    display: block;
}
#hero-image{
    flex-wrap: wrap;
    display: block;
    margin-left: -350px;
    
}
#hero-img{
    padding-top: 40px;
    height: 250px;
    width: 250px;
}
.hero-button{
    margin-left: 0px;
}
#footer{
    padding-top: 70px;
    display: block;
}


}
@media  (min-width: 375px) and (max-width: 435px){


    body{ 
        font-size: large;
    }

#navbar{
    flex-direction: column;
    gap: 5px;
    
}
#nav{
    gap: 3px;
    flex-direction: column;
}
#nav-details{
    gap: 3px;
    flex-direction: column;
}
#skillheropage{
    gap:0;
    display: block;
}
#hero-image{
    flex-wrap: wrap;
    display: block;
    margin-left: -350px;
    
}
#hero-img{
    padding-top: 40px;
    height: 250px;
    width: 250px;
}
.hero-button{
    margin-left: 0px;
}
#footer{
    display: block;
    padding-top: 70px;
}

}

@media  (min-width: 480px) and (max-width: 679px){
    body{ 
        font-size: large;
    }

#navbar{
    flex-direction: column;
    gap: 5px;
}
#nav{
    gap: 3px;
    flex-direction: column;
}
#nav-details{
    gap: 3px;
    flex-direction: column;
}
#skillheropage{
    gap:0;
    display: block;
}
#hero-image{
    flex-wrap: wrap;
    display: block;
    margin-left: -350px;
    
}
#hero-img{
    padding-top: 40px;
    height: 250px;
    width: 250px;
}
.hero-button{
    margin-left: 0px;
}
#footer{
    padding-top: 70px;
    display: block;
}

}
@media  (min-width: 680px) and (max-width: 880px){
    body{ 
        font-size: large;
    }


#navbar {
    flex-direction: column;
    gap: 5px;
}
#nav{
    flex-direction: column;
}
#nav-details {
    flex-direction: column;
}
#skillheropage{
    gap:0;
    display: block;
}
#hero-image{
    flex-wrap: wrap;
    display: block;
    margin-left: -350px;
    
}
#hero-img{
    padding-top: 40px;
    height: 250px;
    width: 250px;
}
.hero-button{
    margin-left: 0px;
}
#footer{
    padding-top: 70px;
    display: block;
}


}




